/shared
/local-config.php
/sql-dump-*.sql
/db-sync
/content/upgrade/
.DS_Store

######################################
#	ALL FILES BELOW ADDED BY COREY	 #
######################################

# IGNORE EVERYTHING IN THESE FOLDERS
.idea/
content/uploads/







# IGNORE THESE SPECIFIC FILES
indexORIGINAL.php